body {
	font-family:'Shadows Into Light', Verdana, sans-serif;
	text-align:center;
	color:#343434;
	background-color: #dfdfdf;
	background:url(../images/back_soon.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
	background-position: 50% -80.2px;
	
	}

body h1
{
font-size:100px;
font-family: 'Shadows Into Light', Helvetica, sans-serif;
font-weight:bold;
color:#222222;
padding:5px;
}

body h4
{
font-size:36px;
font-family: 'Shadows Into Light', Helvetica, sans-serif;
font-weight:bold;
color:#222222;
padding:5px;
}
#main-container
{
width:650px;
min-width:650px;

}
#main-container, #main-container:before, #main-container:after
{
    background: url("../images/line.png") repeat-y scroll 0 0 transparent; 
	/*background-image: url("../images/back_soon.png"); */
	border-radius: 5px 5px 0 0;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
}

#main-container
{
	position: relative;
	width: 50%;
	padding: 2em;
	margin:180px auto 50px;
}

#main-container:before, #main-container:after
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateZ(2.5deg);
	-o-transform: rotate(2.5deg);
	transform: rotateZ(2.5deg);
	z-index: -1;
}

#main-container:after
{
	-webkit-transform: rotateZ(-2.5deg);
	-o-transform: rotate(-2.5deg);
	transform: rotateZ(-2.5deg);
}

#core
{
margin-top:60px;
}

#main-counter {
	z-index:100;
	position:relative;
	margin:0px auto;
	width:650px;
	height:138px;
	font-family:'Shadows Into Light', Arial, Helvetica, sans-serif;
}
#counter {
	height: 55px;
	position: relative;
	margin-bottom:10px;
}
#time-values {
	width: 100%;
	clear:both;
	margin: 0px auto;
}
.numbers {
	font-weight: bold;
	text-align: left;
	font-size:48px;
}
.below-labels {
	font-size:18px;
	text-align:center;
	padding-top:10px;
}
#count_days {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#222222; 
	
}
#count_hours {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 2px;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#222222;
	
}
#count_minutes {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#222222; 
	
}
#count_seconds {
	float:left;
	width: 132px;
	height:102px;
	padding: 20px 0 10px 0;
	text-align:center;
	margin: 20px 10px;
	letter-spacing: 2px;
	color:#222222; 
	
}



#footer
{
width:100%;
margin-top:70px;
min-width:640px;
}
#footer a
{
color:#222222;
text-decoration:underline;
}
#footer p
{
font-size:16px;
font-family:'Shadows Into Light', Arial, Helvetica, sans-serif;
padding:15px;
color:#222222;
}

#social-icons
{
padding:5px;
float:right;
}




